
*{
    margin: 0;  
    padding: 0;
}
/* Font */
body{
    font-family: 'Open Sans', sans-serif;
}
/* Nav CSS */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.text_primary{
    color: #FD6E0A;
}

.btn_primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 36px;
}
.web_title{
    color: #000000;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    color: black;
}

/* header and hero section */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right; 

}
.banner{
    padding: 30px 30px  0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile_picture{
    width: 500px;
}

.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner_title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner_description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}



/* Main CSS */
main{
    max-width: 1140px;
    margin:  0px auto; 
}
/* About CSS */
.section_title{
    color: v#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    }
.about{
    padding: 209px 153px;
    margin: 130px 0;
    border-radius: 10px;
    background: #FFF8F3;   
    
}
.about_text{
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin: 30px 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.about-info{
    text-align: center;
}
/* What-i-do CSS */
.what-i-do-description{
    width: 909px;
    margin: 30px auto;
    text-align: center;
    
}
.what-i-do-description p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    color: #757575;
}
.skill-cotainer{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px 33px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}
.skill h2{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
}
.skill p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume CSS */
.resume-area{
    margin-top: 130px;
    margin-bottom: 113px;
}

.resume-container{
    display: flex;
    justify-content: space-between;
    gap: 71px;
}
.resume-column-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    
}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;

}
.resume-item-institute{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;

}
.resume-item-description{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
    margin-top: 20px;
    margin-bottom: 30px;

}
hr{
    width: 558px;
    height: 1px;
    background: #D1D1D1;
}
.cv-btn{
    text-align: center;
    margin-top: 50px;
}